/***** NAVBAR *****/

.navbar {
    background-color: #034C3C;
    border-radius: 0;
}

/* Navbar title */
.navbar-default .navbar-brand {
    color: white;
    font-size: px;
    font-weight: bold;
}

/* Navbar hover effects */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #e662f2;
    text-decoration: none;
}

/* Navbar links */
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 16px;
    padding: 10px;
}

/* Navbar collapsed styles */
.navbar-toggler {
    color: #fff;
    border-color: #fff;
    background-color: #e662f2;
    border-radius: 4px;
    border: 1px solid;
    fill: #fff;
    font-size: 16px;
    position: relative;
    margin-right: 10px;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
    background-color: #e662f2;
    color: #242424;
    fill: #242424;
    border-color: #fff;

}

/*** JUMBOTRON ***/

.jumbotron {
    /* background-image: url("../assets/contour-lines.png"); */
    text-align: center;
    color: #034C3C;
    padding: 3%;
    border-radius: 0px;
}

.jumbotron h2 {
    font-size: 45px;
    font-weight: normal;
}

.img-responsive{
    width:100%;
}

/*** CARD ***/

.card {
    background-color: #fff;
    border-color: #cccccc;
    border-width: 1px;
    width: 100%;
}

.card:hover {
    border-color: #034C3C;
}

/*** Basic Text Styles ***/

#about-world {
    max-height: 200px;
}

.resume h3 {
    font-weight: bold;
}


hr {
    border-color: white;
    border-width: 2px;
}

p {
    font-size: 20px;
}

a {
    color: #034C3C;
}

a:hover {
    color: #e662f2;
}

.container{
    padding:25px 0;
}

body {

    font-family: 'Georgia', serif;
    background-color: #f8e0fa;
    color: #034C3C;
}